/*========================================
            Width Queries
=========================================*/

/* Large Devices */
@media (min-width: 1200px) {
  /* this works */
}

/* Medium Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  /* work on this */
}

/* Small Devices */
@media (min-width: 760px) and (max-width: 991px) {
  .desktop {
    display: none;
  }

  .signup-link {
    left: 70%;
  }

  .outer {
    clip-path: none;
  }

  .heading-primary-main {
    font-size: 40px;
  }
  .heading-primary-sub {
    font-size: 16px;
  }

  .modal-content-about {
    width: 600px;
    height: 250px;
  }
  .about {
    font-size: 20px;
  }
}

/* Extra Small Devices */
@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  .signup-link {
    left: 60%;
  }

  .login-link {
    left: 80%;
  }

  .outer {
    clip-path: none;
  }

  .heading-primary-main {
    font-size: 26px;
  }
  .heading-primary-sub {
    font-size: 10px;
  }
}

/*======================================
            Height Queries
========================================*/

@media (min-height: 610px) and (max-height: 770px) and (min-width: 992px) {
  .modal-content-pic {
    top: 175%;
  }
}

@media (max-height: 604px) {
  .desktop {
    display: none;
  }
  .outer {
    clip-path: none;
  }
}
